body{
    background-color:   rgb(255, 208, 0);
}
.list{
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    list-style: none;
    display: flex;
    margin: right 20px;
justify-content: space-between ;
}